<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2> Home </h2>
    </div>
    <div>
        <a href="login.html" th:href="@{/login}"> 로그인</a>
    </div>
    <div>
        <a href="signup.html" th:href="@{/signup}"> 회원가입</a>
    </div>

    <div>
        <a href="list.html" th:href="@{/list}"> 리스트</a>
    </div>
    <div>
        <a href="info.html" th:href="@{/info}"> 내 정보</a>
    </div>
</div> <!-- /container -->
</body>
</html>